In [1]:
import pandas as pd
import sys
sys.path.append("../../Muestreador")
from muestreador import MuestreoINE
m = MuestreoINE()

In [2]:
df = pd.read_csv("../Datos/radon.csv")
df.head(6)

  countyname  countynum  sampsize  popsize  radon
0     Aitkin          1         4     5400    1.0
1     Aitkin          1         4     5400    2.2
2     Aitkin          1         4     5400    2.2
3     Aitkin          1         4     5400    2.9
4      Anoka          2        57    71900    2.4
5      Anoka          2        57    71900    0.5

In [3]:
df["sampleweight"] = df["sampsize"] / df["popsize"]
df

           countyname  countynum  sampsize  popsize  radon  sampleweight
0              Aitkin          1         4     5400    1.0      0.000741
1              Aitkin          1         4     5400    2.2      0.000741
2              Aitkin          1         4     5400    2.2      0.000741
3              Aitkin          1         4     5400    2.9      0.000741
4               Anoka          2        57    71900    2.4      0.000793
...               ...        ...       ...      ...    ...           ...
998            Wright         86        14    21600    3.1      0.000648
999            Wright         86        14    21600    8.7      0.000648
1000  Yellow Medicine         87         3     4600    3.7      0.000652
1001  Yellow Medicine         87         3     4600    2.9      0.000652
1002  Yellow Medicine         87         3     4600    3.7      0.000652

[1003 rows x 6 columns]

In [4]:
m.media_estratificado("sampleweight", "radon", df)

3.6234473894170898

In [5]:
tamaño_estratos = df.groupby(["countynum"])["popsize"].first().tolist()
tamaño_muestras = df.groupby(["countynum"])["sampsize"].first().tolist()
m.media_IC_estratificado_z(0.95, tamaño_estratos, tamaño_muestras, "sampleweight", df, "countynum", "radon")

[0.6224999999999999, 5.093953634085212, 2.3825, 4.856190476190476, 3.5558333333333323, 5.293333333333333, 16.002857142857145, 11.142500000000004, 2.442909090909091, 35.70966666666666, 4.173, 15.553000000000004, 7.301666666666665, 52.8712380952381, 2.635833333333333, 0.8450000000000001, 22.249166666666667, 3.5454545454545463, 12.309258312020454, 0.9300000000000005, 3.0236363636363617, 3.1736666666666666, 0.24500000000000013, 82.9617777777778, 104.56066666666663, 11.53700327588663, 8.055000000000001, 2.4170000000000003, 0.3424999999999998, 4.938409090909091, 47.00571428571428, 7.349166666666668, 14.946666666666673, 9.120000000000003, 2.0536111111111115, 11.044999999999996, 3.955555555555555, 8.847999999999997, 12.278666666666668, 34.402499999999996, 6.622333333333334, 0.0, 261.9144444444445, 11.678392857142853, 48.003974358974354, 4.263000000000001, 6.9733333333333345, 10.820555555555558, 35.18994505494504, 0.0, 23.339999999999993, 5.229999999999996, 14.08333333333333, 8.928015384615383, 17.216181818181816, 5.2625, 1.3016666666666663, 22.362499999999997, 14.646666666666667, 0.08000000000000006, 23.979610917537745, 54.103, 6.51, 20.70854545454545, 24.37333333333333, 9.368351648351648, 13.24861197669693, 40.09917582417582, 0.30999999999999994, 12.603333333333333, 9.551794871794872, 8.681, 6.125, 1.9424999999999997, 7.576666666666664, 52.96200000000001, 14.029523809523809, 2.052, 17.33333333333334, 15.747791836734692, 16.470000000000002, 0.0, 14.328333333333333, 13.553021978021976, 0.21333333333333349]

(-98345.21514272221, 98352.46203750104)